@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="text-center">
    <h1 class="display-4">Welcome To Your Local Spa</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a asp-controller="Spa" asp-action="Menu">Go to skin profile</a><br />
